.movie-card {
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 15px;
}

.movie-title {
    display: -webkit-box;
    -webkit-line-clamp: 6;  /* 보여줄 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    color: white;
  }

.overlay:hover {
    opacity: 1;
}

.movie-card:hover {
    transform: scale(1.1) translateZ(20px);
    z-index: 2;
}

.movie-title {
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    line-height: 1.2;
}