.main-navbar {
    width: 100vw;
    height: 65px;
    padding: 0;
}

.custom-navbar {
    background-color: black !important;
    color: white !important;
    padding: 0.5rem 1rem;
}

.custom-navbar .nav-link {
    color: white !important;
}

.custom-navbar .nav-link:hover {
    font-weight: 700;
}