.warning-page {
    height: 100vh;
    background-image: url('./wrong-direction.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.message {
    color: red;
    font-weight: 700;
    font-size: 24px;
    margin-top: 80px;
}

.mobile-break {
    display: inline;
  }

@media (max-width: 580px) {
    .message {
        font-size: 20px;
      }

    .mobile-break {
      display: block;
    }
  }